<input [(ngModel)]="id" placeholder="Entrez un ID" id="input1">
<br>
<input [value]="id" readonly id="input2">
<br>
Mon id est : {{ id }}
<br>
<p>Pokémon sélectionné : {{ selectedPokemonId }}</p>
<br>
<input [(ngModel)]="search" placeholder="Filtrer les Pokémon par nom">

<select [(ngModel)]="selectedPokemonId">
  <option *ngFor="let p of pokemons | filterPokemonPipe:'nom':search" [value]="p.id">
    {{ p.nom }}
  </option>
</select>
<button (click)="go()">Go</button>
<br>
<div *ngIf="pokeDetail">

  <app-pokedetail [detail]="pokeDetail"></app-pokedetail>
  
  
</div>


